html {
	overflow-y: scroll;
}
body {
	font-family: sans-serif;
}
h1 {
		text-align: center;
}
a {
	color: #108f10;
}
#page {
	max-width: 50em;
	margin: auto;
	text-align: justify;
}
#toc table {
	width: 100%;
	border-collapse: collapse;
}
#toc td, th {
	padding 8px;
	-border: 1px solid;
}
.toc_right {
	text-align: right;
	width: 128px;
}
