html {
	overflow-y: scroll;
}
body {
	font-family: sans-serif;
}
p {
	text-align: justify;
	hyphens: auto;
}
h1 {
	text-align: center;
}
a {
	color: #108f10;
}
#page {
	max-width: 50em;
	margin: auto;
}
pre {
	border-style: ridge;
	border-color: #e0e0e0;
	padding: 12px;
}
::selection {
	color: #ffffff;
	background: #108f10;
}
@media (prefers-color-scheme: dark) {
	a {
		color: #5fe35f;
	}

	body {
		background: #0d0d0d;
		color: #ebebeb;
	}

	::selection {
		color: #0d0d0d;
		background: #5fe35f;
	}

	pre {
		border-color: #5f5f5f;
	}
}
#toc table {
	width: 100%;
	border-collapse: collapse;
}
#toc td, th {
	padding 8px;
}
.toc_right {
	text-align: right;
	width: 128px;
}
